body{
    background-color:rgb(50, 182, 205);
    margin:100px;
    padding-top: 30px;
    padding-left: 380px;

}
.bgcontains{
    background-color:rgb(173, 117, 117);
    border: 0px solid rgb(192, 6, 6);
    border-radius: 13px;
    width: 250px;
    height:250px;
    color: white;
    font-size: 15px;
    padding: 20px;  
}
input {
    height: 12px;
    width:200px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid lightgray;
    padding: 3px;
    font-family:'Times New Roman', Times, serif;
}
button{
    padding:5px;
    width:90px;
    font-size: 15px;
    font-weight: bold;
    font-weight: 100;
    background-color:rgb(55, 0, 255);
    border-radius: 10px;
    font-family: sans-serif;
    margin:7px;
    cursor:grabbing;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
h1{
    text-align: left;
    color:red;
    font-size: 40px;
    text-decoration:underline;
}
h2{
    text-align: center;
    color:black;
}
.btn{
    background-color:green;
}
.btn1{
    background-color: red;

}